.book-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.book-details {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
}

.book-details-line {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.book-cover-info {
    display: flex;
    align-items: flex-start; /* Aligns items at the start vertically */
    margin-bottom: 20px; /* Space below the whole block */
}

.book-cover-container {
    flex: 0 0 200px; /* Fixed width for the cover */
    margin-right: 20px; /* Space between the cover and the info */
}

.book-cover {
    width: 100%; /* Full width of the container */
    height: auto; /* Height adjusts automatically */
    object-fit: cover; /* Ensures the image covers the area nicely */
}

.book-info {
    flex: 1; /* Takes remaining space */
    display: flex;
    flex-direction: column; /* Stacks info vertically */
    justify-content: center; /* Centers information vertically within the area */
}

.book-info h2 {
    margin: 0 0 5px 0; /* Small margin for spacing, remove margin-top for compact look */
    color: #DE0F3F; /* Ensures text is black */
}

.book-info p {
    color: black;
    margin: 0 0 5px 0;
    font-weight: bolder;
}
    /*.book-info h2 {*/
/*    font-size: 20px; !* Slightly larger text for the title *!*/
/*}}*/

/*.book-info p {*/
/*    margin: 0;*/
/*}*/

.book-details-section {
    margin-top: 20px;
}

.book-details-section h2 {
    margin-top: 0;
}

.book-details-section ul {
    list-style: none;
    padding-left: 0;
}

.book-details-section li {
    margin-bottom: 10px;
}

.book-details-section p {
    margin: 0;
}

.bold {
    font-weight: bolder;
}

.added-to-shelf {
    background-color: skyblue;
}

.button-normal {
    background-color: initial; /* Default background color */
    color: black; /* Default text color */
}

.button-added {
    background-color: deepskyblue; /* Background color for added books */
    color: white; /* Text color for better readability on dark backgrounds */
}