.bookDetailsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bookDetails {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
}

.bookDetailsLine {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.bookCoverInfo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.bookCoverContainer {
    flex: 0 0 200px;
    margin-right: 20px;
}

.bookCover {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bookInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookInfoH2 {
    margin: 0 0 5px 0;
    color: var(--color-primary)
}

.bookInfoP {
    color: black;
    margin: 0 0 5px 0;
    font-weight: bolder;
}

.bookDetailsSection {
    margin-top: 20px;
}

.bookDetailsSectionH2 {
    margin-top: 0;
}

.bookDetailsSectionUl {
    list-style: none;
    padding-left: 0;
}

.bookDetailsSectionLi {
    margin-bottom: 10px;
}

.bookDetailsSectionP {
    margin: 0;
}

.bold {
    font-weight: bolder;
}

.addedToShelf {
    background-color: var(--color-secondary);
}

.buttonNormal {
    background-color: initial;
    color: black;
}

.buttonAdded {
    color: var(--color-secondary)
    color: white;
}