.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 4rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navigation-left, .navigation-right {
    display: flex;
    align-items: center;
}

.navigation-links {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.logo {
    margin-right: 2rem;
    height: 250px;
}

.navigation-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.avatar {
    border: 2px solid #392E3D;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    padding: 10px;
}

.hamburger-menu {
    background-color: transparent;
    border: none;
    color:black;
    cursor: pointer;
    font-size: 2rem;
}

.active-link, .default-link {
    text-decoration: none;
    color: #392E3D;
    font-weight: 600;
    margin: 0 1rem;
    padding: 0.5rem 0;
    font-size: 20px;
}

.active-link:hover, .default-link:hover {
    text-decoration: underline;
}

.active-link {
    color: #DE0F3F;
    text-decoration: none;
}