.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 4rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navigation-left {
    display: flex;
    align-items: center;
}

.navigation-right {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
}

.navigation-links {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.logo {
    margin-right: 2rem;
    height: 250px;
}

.settings-button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.gear-icon {
    height: 25px; /* Adjust to match the previous avatar size */

}

.logout-button {
    margin-top: 10px; /* Adjust the margin */
    padding: 5px 10px;
    background-color: #DE0F3F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.active-link, .default-link {
    text-decoration: none;
    color: #392E3D;
    font-weight: 600;
    margin: 0 1rem;
    padding: 0.5rem 0;
    font-size: 20px;
}

.active-link:hover, .default-link:hover {
    text-decoration: underline;
}

.active-link {
    color: #DE0F3F;
    text-decoration: none;
}