.authorPortalContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.authorPortalContainer h2 {
    margin-bottom: 3px;
}

.authorSearchForm {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 70px;

}

.authorSearchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.authorSearchButton {
    padding: 10px 20px;
    background-color: var(--color-primary);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.authorSearchButton:hover {
    background-color: var(--color-primary);
}

.loadingMessage {
    color: #666;
}

.errorMessage {
    color: var(--color-primary);
}