.input-wrapper {
    display: flex;
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 5px;

}

.styled-input {
    flex-grow:4;
    border: none;
    background-color: lightgray;
    padding: 10px;
}

.icon-container {
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.styled-input:focus {
    outline: none;
}