/* fonts, colors, global styles, Pages, components */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*1.-----------Global Styles--------*/


/*2.------------ Header--------------*/

/*3.-----------Welcome Page------------*/

/*4.-----------Trending Page------------*/

/*5.-----------Discover Page------------*/

/*6.-----------My Bookself Page------------*/

/*7.-----------Author Portal------------*/

/*8.-----------Footer------------*/

/*9.-----------Components------------*/

.welcome-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #ededed;
  border-radius: 8px;
  overflow: hidden;
}

.login-section {
  background-color: white;
  padding: 20px;
}

.registration-section {
  background-color: indianred;
  color:white;
  padding: 20px;
}




/*10.-----------Fonts------------*/


