/* fonts, colors, global styles, Pages, components */
@import url("https://use.typekit.net/mkb6hpk.css");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*1.-----------Global Styles--------*/

.image {
    width: 100%;
    height: auto;
}

body {
    font-family: "Degular Display";
    color: #392E3D
}

.logo {
    font-weight: 800;
    font-size: 76px;
   letter-spacing: 1px;
    color: #E22742;
    margin: 0;
}

.byline{
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size:26px;
}
/*2.------------ Navigation/Header--------------*/

/*3.-----------Welcome Page------------*/

/*4.-----------Trending Page------------*/

/*5.-----------Discover Page------------*/

/*6.-----------My Bookself Page------------*/

/*7.-----------Author Portal------------*/

/*8.-----------Footer------------*/

/*9.-----------Components------------*/




/*10.-----------Fonts------------*/


