@import url("https://use.typekit.net/mkb6hpk.css");
@import url("https://use.typekit.net/mkb6hpk.css");
:root {
  --color-primary:#DE0F3F;
  --color-secondary:#00BFFF;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* Limit the maximum width of images to their container */
  height: auto; /* Maintain the aspect ratio of images */
}

body{
  font-family: Degular;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibiity;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

button, input, select, textarea {
  font-family: inherit;
}

h1{
  font-size: 3.2em;
  line-height: 1.1;
  margin-block: 0.65em;
}

h2 {
  margin-block: .80em;

}

h3 {
  margin-block: 1em;
}

h4 {
  margin-block: 1.33em;
}

p{
  margin-block: 0.5em;
}

figure {
  margin: 0 0 2em 0;
}

figcaption {
  text-align: right;
  font-size: 0.9em;
}

a,
a:visited {
  color: var(--)
}