body {
    font-family: "Degular Display", sans-serif;
}

/* Style the form container */
.registrationFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style headings */
h1, h2 {
    color: var(--color-primary);
    font-weight: bold;
}

/* Style the banner image */
.bannerImage {
    max-width: 20rem;
    height: auto;
    margin-bottom: 20px; /* Add some space below the image */
}

/* Style the form */
.registrationForm {
    width: 100%;
    max-width: 360px;
}

/* Style form groups */
.formGroup {
    margin-bottom: 20px; /* Increase vertical spacing between form fields */
}

/* Style form labels */
.formGroup label {
    display: block;
    margin-bottom: 5px;
}

/* Style input fields */
.formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.formGroup input:focus {
    border-color: #DE0F3F; /* Change border color on focus */
}

/* Style the registration button */
.buttonCommon {
    width: 100%;
    padding: 12px 20px;
    background-color: #DE0F3F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonCommon:hover {
    background-color: #c9302c;
}

.buttonCommon:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Error message styles */
.errorMessage {
    color: #c9302c; /* Error message color */
    margin-top: 5px; /* Add some space above the error message */
}