.registrationFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    color: #DE0F3F;
    font-family: "Degular Display" alt = sans-serif;
    font-weight: bolder;
}

 .bannerImage {
    max-width: 30%;
    height: auto;
}

.registrationForm {
    width: 100%;
    max-width: 360px;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

/*.formGroup input {*/
/*    width;*/
/*}*/

.buttonCommon {
    width: 100%;
    padding: 12px 20px;
    background-color: #DE0F3F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonCommon:hover {
    background-color: #c9302c;
}

.buttonCommon:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


